<p>In order to create a soil profile, please fill the required data correctly.</p>
<div class="layer_number_input">
<label for="layer_number">Number of Layers</label>
<input type="number" id="layer_number" name="layer_number" value="0" required>
</div>

<div class="gwt_input">
<label for="gwt">Ground Water Table</label>
<input type="number" id="gwt" name="gwt" value="0" required>
</div>

<div class="spt_table_input">
    <table id="spt_table" class="spt_table_class" style="width:100%">
        <thead>
            <tr>
                <th>Layer Number</th>
                <th>Soil Type</th>
                <th>Average SPT-N</th>
                <th>Plasticy Index</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><select size="1" id="row-1-soil_type" name="row-1-soil_type">
                        <option value="Clay" selected="selected">
                            Clay
                        </option>
                        <option value="Silt">
                            Silt
                        </option>
                        <option value="Clayey Sand">
                            Clayey Sand
                        </option>
                        <option value="Silty Sand">
                            Silty Sand
                        </option>
                        <option value="Sand">
                            Sand
                        </option>
                        <option value="Gravel">
                            Gravel
                        </option>
                        <option value="Rock">
                            Sand
                        </option>
                </select></td>
                <td><input type="number" id="row-1-avg_sptn" name="row-1-avg_sptn" value=0 max="50"></td>
                <td><input type="number" id="row-1-pi" name="row-1-pi" value=0 max="100"></td>
            </tr>
        </tbody>

    </table>
</div>